.btn-purple {
  background-color: #2f0141!important;
  border-color: #2f0141 !important;
  color: white !important;
}

.btn-purple:hover {
  background-color: #5b21b6 !important;
  border-color: #5b21b6 !important;
  color: white !important;
}
body {
  margin: 0;
  background-image: url("C:\Foss\EquiGrade\react-app\public\background.jpg");
  background-size: cover;      
  background-repeat: no-repeat; 
  background-position: center;  
  min-height: 100vh;
}
.card{
  transition:ease-in-out 0.4s;
}
.card:hover{
  transform: scale(1.1);
  color:white;
  background-color:#2f0141 ;
}
.footer{
    display:flex;
    justify-content: center;
    background-color:navy;
    border-radius: 8px;
    box-shadow:0 0 8px black;
    color: white;
    text-align:center;
    padding:20px;
}
.File1{
  margin:100px;
  margin-top: 20px;
  padding:10px;
  font-family: poppins;
  color:wheat;
}
.head{
  background-color: #5b21b6;
  padding:20px;
  margin-top:15px;
  border-radius:10px;
  box-shadow:0 0 8px black;
  transition: ease-in-out 0.4s;
}
.head:hover{
  transform:scale(1.02);
  background-color: #2f0141;
}